<% include partials/header %>

<table>
  <tr>
    <th></th>
    <th>Target Start Date</th>
    <th>Request Date</th>
    <th>Pull Leads List</th>
    <th>Dupe Check</th>
    <th>Research</th>
    <th>Leads in SF Campaign</th>
    <th>Emails & Landing Page Created</th>
    <th>Released for Calling</th>
    <th>Campaign Completed</th>
    <th>Notes</th>
  </tr>
  <tr class="working">
    <td>TN New Construction</td>
    <td>6/4</td>
    <td>5/21</td>
    <td>
      5/21
      <div class="user">
        Jennifer
      </div>
    </td>
    <td>
      5/21
      <div class="user">
        Jennifer
      </div>
    </td>
    <td>
      5/25
      <div class="progress">
        In Progress
      </div>
      <div class="user">
        Vicky
      </div>
    </td>
    <td>
      5/25
      <div class="progress">
        In Progress
      </div>
      <div class="user">
        Vicky
      </div>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td>Jennifer pulled a list of new construction for Davidson and Williamson counties in TN and cross-checked them against Salesforce. The Davidson list has been passed on to Dallas for new leads to be entered and researched</td>
  </tr>
  <tr class="future">
    <td>TN New Construction</td>
    <td>6/4</td>
    <td>5/21</td>
    <td>
      5/21
      <div class="user">
        Jennifer
      </div>
    </td>
    <td>
      5/21
      <div class="user">
        Jennifer
      </div>
    </td>
    <td>
      5/25
      <div class="progress">
        In Progress
      </div>
      <div class="user">
        Vicky
      </div>
    </td>
    <td>
      5/25
      <div class="progress">
        In Progress
      </div>
      <div class="user">
        Vicky
      </div>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td>Jennifer pulled a list of new construction for Davidson and Williamson counties in TN and cross-checked them against Salesforce. The Davidson list has been passed on to Dallas for new leads to be entered and researched</td>
  </tr>
  <tr class="complete">
    <td>TN New Construction</td>
    <td>6/4</td>
    <td>5/21</td>
    <td>
      5/21
      <div class="user">
        Jennifer
      </div>
    </td>
    <td>
      5/21
      <div class="user">
        Jennifer
      </div>
    </td>
    <td>
      5/25
      <div class="progress">
        In Progress
      </div>
      <div class="user">
        Vicky
      </div>
    </td>
    <td>
      5/25
      <div class="progress">
        In Progress
      </div>
      <div class="user">
        Vicky
      </div>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td>Jennifer pulled a list of new construction for Davidson and Williamson counties in TN and cross-checked them against Salesforce. The Davidson list has been passed on to Dallas for new leads to be entered and researched</td>
  </tr>
  <tr class="hold">
    <td>TN New Construction</td>
    <td>6/4</td>
    <td>5/21</td>
    <td>
      5/21
      <div class="user">
        Jennifer
      </div>
    </td>
    <td>
      5/21
      <div class="user">
        Jennifer
      </div>
    </td>
    <td>
      5/25
      <div class="progress">
        In Progress
      </div>
      <div class="user">
        Vicky
      </div>
    </td>
    <td>
      5/25
      <div class="progress">
        In Progress
      </div>
      <div class="user">
        Vicky
      </div>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td>Jennifer pulled a list of new construction for Davidson and Williamson counties in TN and cross-checked them against Salesforce. The Davidson list has been passed on to Dallas for new leads to be entered and researched</td>
  </tr>
</table>

<% include partials/footer %>
